body {
  text-align: center;
  justify-content: center;
}

.dark {
  background-color: black;
  border: 1px solid white;
  border-radius: 5px;
  width: 30px;
  height: 30px;
}

.light {
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  width: 30px;
  height: 30px;
}
